# CODEOWNERS file for Voluntree

* @Astro-Phile

# /client/ @frontend-dev1 @frontend-dev2

# Backend folder owned by backend team
/server/ @Princess-Irulan

# Docs owned by technical writer 
 /docs/ @karoltacang

# design assets owned by core designer
#/design/