# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.env
.env.local
.env.*.local

# Logs
logs/
*.log
log.txt

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Testing
coverage/
*.lcov

# Others
*.local
*.zip
*.tgz
*.gz

# React-specific
*.env.development
*.env.production
*.env.test
